<!DOCTYPE html>
<html>
  <head>
    <title>AnuragApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  </head>

  <body>
	  <div id="user_nav", class="btn pull-right">
		  <% if user_signed_in? %>
		    Signed in as <%= current_user.email %>. Not you?
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  <% else %>
		    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		  <% end %>
		</div>
		<%= bootstrap_flash %>
    <%= yield %>
  </body>
</html>
